// USER VARIABLES SECTION

// Colors:
$white: #FFFFFF;
$grey: #ADADAD;
$black: #000000;
$pink-light-1: #ffddea;
$pink-light-2: #ffcfdd;
$pink-dark-1: #eca0a7;
$pink-dark-2: #d886c4;
$olive: #6d6200;
$yellow: #fffcdf;
$coral: #ec8d3f;
$brown: #b3837a;

// Layout:
$max-width: calc(100% - 3.125rem);

// Text:
$fontSize: 16px;



